* {
    margin: 0;
    padding: 0;
}

.section-title {
    color: #e4e7eb;
    font-size: 25px;
    font-style: italic;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0f3663;
    background-color: cadetblue;
}


/* header section START */
header {
    display: flex;
    padding: 20px 35px;
    background-color: #0f3663;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #e4e7eb;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #e4e7eb
}


/* Nav Bar section */

.section-title {
    color: #e4e7eb;
    font-size: 25px;
    font-style: italic;
}



header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}


/* Footer */

footer {
    padding: 40px 35px;
    background: #0f3663;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer div {
    text-align: right;
    line-height: 1.5;
}

footer ul li a {
    font-weight: bold;
    font-size: 15px;
    color: #e4e7eb;

}

footer ul {
    color: #e4e7eb;
    text-align: left;
    width: 30px;
}